# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

# Hugo
.hugo_build.lock

config/_default/config.toml

public/*
resources/*

themes/*
!themes/.gitkeep

# Static Packs
static/static

# Libraries
node_modules
package-lock.json