baseURL = "http://example.org/"
languageCode = "en-us"
title = "Example Site"

[module]

  #
  # Theme
  #
  #[[module.imports]]
  #  path = "github.com/[Organization/UserName]/[ProjectName (without .git) and @ or / ]"
  #  disable = true
